/* affichage des commentaire */
.commentaire {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 30px;
}

.commentaire h2 {
    color: white;
    font-size: 2em;
}

.commentaire p {
    width: 100%;
    background-color: #B3A88C;
    font-size: 25px;
    padding: 30px;
    border-radius: 10px;
}

.commentaire a {
    color:white;
}

/* poster un commentaire */
#commentaireConnexion {
    position: relative;
}

#commentaireConnexion button {
    position: absolute;
    top: 25px;
    right: 25px;
}

/* moddifier ou supprimer un commentaire */

#commentaireModification {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.modifier {
    position: absolute;
    top: 10px;
    right: 25px;
}

.supprimer {
    position: absolute;
    top:50px;
    right: 25px;
}

.formulaireModiffier {
    display: none;
}

.formulaireModiffier.active {
    display: flex;
    background-color: #B3A88C;
    position: relative;
}

.fermeture {
    width: auto;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff365e;
    color: #fff;
}