/* formulaire de connexion */
#formConnexion {
   margin : 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

/* titre du formulaire */
.formH3 {
    font-size: 2em;
    color: white;
}

/* différentes partie du formulaire */
.inputConnexion {
    margin: 30px;
    width: 300px;
    height: 40px;
}

/* bouton du site */
.button {
    width: 150px;
    height: 30px;
    background-color: #1170C7;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}