/* listRandonne */
.leafletRandonne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}
.buttonRandonnee {
    width: 100%;
    background-color: #1170C7;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.buttonRandonnee > a {
    color: white;
    font-size: 25px;  
}
.leafletRandonne > h2 {
    color: white;
    font-size: 2em;
}

.leafletRandonne > p {
    color:white;
    font-size: 25px;
}

/* affichage des coordonnées dans ajout parcours */
#coordonnee {
    color:white;
    font-size: 25px;
    text-align: center;
}