*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Accueille */
#navAccueille {
    background-color: #28634F;
    display: flex;
    justify-content: center;
}

#imgAccueille {
    width: 250px;
    height: 250px;
}

#background-video {
    height: 75vh;
    width: 100vw;
    object-fit: cover;
}

/* listFilm */
body {
    background-color: #28634F;
}
header {
    width: 100vw;
    background-size: cover;
}

.navbar {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo > img {
    width: 100px;
    height: 100px;
}

.navbar .nav-link ul {
    display: flex;
    flex-direction: row;
}


.navbar .nav-link ul li {
    margin: 0 30px;
}

.navbar a {
    color: white;
    font-size: 2em;
}