/* template */
body {
    background-color: #28634F;
    display: flex;
    flex-direction: column;
}

.contenu {
    flex: 1 0 auto;
}


/* navBar */

.navbar {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo > img {
    width: 100px;
    height: 100px;
}

.navbar .nav-link ul {
    display: flex;
    flex-direction: row;
}


.navbar .nav-link ul li {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar a {
    color: white;
    font-size: 2em;
}

.logoConnexion {
    width: 50px;
    height: 50px;
    color: white;
}

.menu-deroulant {
    position: relative;
}

.sous-menu {
    display: none!important;
    position: absolute;
    width: 350px;
    top: 30px;
    left: -100px;
    background-color: #0D463E;
    z-index: 3;
}

.menu-deroulant:hover .sous-menu {
    display: block!important;
}

.sous-menu > li:hover{
    background-color:#28634F;
}
/*  */
/* Header */

#formRecherche {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 20px;
}

#barreRecherche{
    width: 300px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    border: none;
    position: relative;
    font-size: 1em;
}

#loupe_recherche{
    position: absolute;
    right: 10px;
    top: 15px;
    width: 25px;
    height: 25px;
}

/* main */
main {
    margin: 20px 40px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    min-height: 60vh;
}

/* footer */
footer {
    flex-shrink: 0;
    background-color: #0D463E;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-services {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.list-services a {
    color:white;
    font-size: 1em;
}