#user {
    margin: 10px;
    width: 100%;
    position: relative;
}

#user p {
    font-size: 25px;
    color: white;
    margin: 10px;
    width: 100%;
}

.buttonUser {
    width: 100%;
}

.buttonUpdateUser {
    width: 300px;
    height: 30px;
    background-color: #1170C7;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}

#UserUpdate {
    display: none;
}

#UserUpdate.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px
}

#iconsUser {
    font-size: 3em;
    color: white;
    cursor: pointer;
    position: absolute;
    top:0;
    right:0;
}

/* modal de paramettre du mot de passe */
.module-conteneur {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: visibility 0.4s;
}

.module-conteneur.active {
    visibility: visible;
}

.couverture {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333d3;
    z-index: 2;
    transition: opacity 0.4s 0.2s ease-out;
}

.module-conteneur.active .couverture{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}


.module {
    opacity: 0;
    width: 95%;
    max-width: 500px;
    background-color: #28634F;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    z-index: 3;
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
}

.module-conteneur.active .module {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}

/* parametre suppression compte */
.module-conteneur-mdp {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: visibility 0.4s;
}

.module-conteneur-mdp.active {
    visibility: visible;
}

.module-conteneur-mdp.active .couverture{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}


.module-mdp {
    opacity: 0;
    width: 95%;
    max-width: 500px;
    background-color: #28634F;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    z-index: 3;
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
}

.module-conteneur-mdp.active .module-mdp {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}

/* parametre modifier pseudo */
.module-conteneur-pseudo {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: visibility 0.4s;
}

.module-conteneur-pseudo.active {
    visibility: visible;
}

.module-conteneur-pseudo.active .couverture{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}


.module-pseudo {
    opacity: 0;
    width: 95%;
    max-width: 500px;
    background-color: #28634F;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    z-index: 3;
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
}

.module-conteneur-pseudo.active .module-pseudo {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}